{% extends 'html.html.twig' %}



{% block body %}




<h1>Réferentiel personnalisé</h1>



<div>
    <p>Le tableau doit contenir une valeur de référence égale à 1.<br/>
    Le ratio des autres valeurs est exprimé par rapport à cette base.<br/>
    Exemple : 1 denier = 1/240 livre.</p>
    
    <p>Le champ "abbréviation" est facultatif.</p>
    
    <p><a href="./test3.php"><- Retour à l'outil de calcul</a></p>

    <hr/>

    <form method="post" action="#">
        
        <div>
        <h2>Nom</h2>
        <label for="nom">Entrez un nom :</label>        
        <input id="nom" type="text" name="nom"/>
        </div>
        
        <hr/>
    
        <div>
            <h2>Valeurs</h2>
            <table>
                <tr>
                    <th>Nom<br/>(ex: livre)</th>
                    <th>Abbréviation<br/>(ex: lb)</th>
                    <th>Ratio<br/>(ex: 1, 1/5, etc.)</th>
                </tr>
                
                
                <tr>
                    <td><input type="text" name="input1[name]" /></td>
                    <td><input type="text" name="input1[abbr]" /></td>
                    <td><input type="text" name="input1[ratio]" /></td>
                </tr>
                
                <tr>
                    <td><input type="text" name="input2[name]" /></td>
                    <td><input type="text" name="input2[abbr]" /></td>
                    <td><input type="text" name="input2[ratio]" /></td>
                </tr>
                
                <tr>
                    <td><input type="text" name="input3[name]" /></td>
                    <td><input type="text" name="input3[abbr]" /></td>
                    <td><input type="text" name="input3[ratio]" /></td>
                </tr>
                
                <tr>
                    <td><input type="text" name="input4[name]" /></td>
                    <td><input type="text" name="input4[abbr]" /></td>
                    <td><input type="text" name="input4[ratio]" /></td>
                </tr>
                
                <tr>
                    <td><input type="text" name="input5[name]" /></td>
                    <td><input type="text" name="input5[abbr]" /></td>
                    <td><input type="text" name="input5[ratio]" /></td>
                </tr>
                
                <tr>
                    <td><input type="text" name="input6[name]" /></td>
                    <td><input type="text" name="input6[abbr]" /></td>
                    <td><input type="text" name="input6[ratio]" /></td>
                </tr>
                
                
                <tr>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="créer" /></td>
                </tr>

            </table>
        </div>
    </form>
</div>

<hr/>


{% if liste is defined %}
<div>

<h2>Référentiels personnalisés</h2>
<ul>
{% for l in liste %}
    <li>{{l}}</li>
{% endfor %}
</ul>
<div>
<form method="post" action="#">
<input type="hidden" name="reset" value="1"/>
<input type="submit" value="reset"/>
</form>
</div>
</div>
{% endif %}



{% endblock %}