<!DOCTYPE html>
<html>

<head>
    {% block stylesheets %}
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/theme.css" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block scripts %}
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/script.js"></script>
    {% endblock %}
</head>

<body>
<div class="container-fluid">
<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
{% block body %}

{% endblock %}
</div>
<div class="col-md-1">&nbsp;</div>
</div>
</body>

</html>