{% extends 'html.html.twig' %}

{% block body %}

<h1>Calculs</h1>

<div>
<h2>1. Choix d'un référentiel</h2>
<ul>
{% for l in liste %}
    <li><a href="{{path}}?type={{l}}">{{l}}</a></li>
{% endfor %}
</ul>
-> <a href="./create-custom.php">Ajouter un référentiel personnalisé</a>
</div>

<hr/>


<div id="referentiel">
    <h2>2. Valeurs</h2>
    {% if referentiel is defined %}
        
        <form method="post" action="{{path}}?type={{type}}">
        <table>

            <tr>
                {% for measure in referentiel %}
                <th>{{measure.name}} ({{measure.ratio}})</th>
                {% endfor %}
            </tr>
            
            <tr>
                {% for measure in referentiel %}
                <th><input type="text" name="{{measure.name}}"/></th>
                {% endfor %}
            
            </tr>

           
        </table>
        
        <hr/>
        <div>
            <input type="submit" name="type" value="ajouter"/>
            <input type="submit" name="type" value="soustraire"/>
        </div>
        
        </form>

    {% endif %}

</div>

<hr/>

<div>
    <h2>3. Résultat</h2>
    
    {% if prev_sommes is defined %}
        {% for prev in prev_sommes %}
            {% for name, value in prev %}
                {% if name  == 'type' and value == 'ajouter' %}
                + 
                {% elseif name  == 'type' and value == 'soustraire' %}
                - 
                {% endif %}
            {% endfor %}
            {% for name, value in prev %}
                {% if value is not empty and name != 'type' and name != 'current'%}
                {{value}} ({{name}})
                {% endif %}
            {% endfor %}
            
                           
        <br/>    
        {% endfor %}
    {% endif %}
    
    {% if error is defined %}
        <div class="alert alert-danger">{{error}}</div>
    {% endif %}
    
    {% if somme is defined %}
    <table>
        <tr>
            <th>somme</th>
        </tr>
        <tr>
            <td>{{somme}}</td>
        </tr>
    </table>
     {% endif %}
    
    <form method="post" action="{{path}}?type={{type}}">
        <input type="hidden" name="reset" value="1"/>
        <input type="submit" value="reset"/>
    </form>

</div>

{% endblock %}